<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>{% include style.css %}</style>{% if site.twitter_handle %}
  <meta name="twitter:site" content="{{ site.twitter_handle }}">{% endif %}{% if page.twitter_handle %}
  <meta name="twitter:creator" content="{{ page.twitter_handle }}">{% elsif site.twitter_handle %}
  <meta name="twitter:creator" content="{{ site.twitter_handle }}">{% endif %}
  <meta name="twitter:card" content="summary_large_image">{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">{% endif %}{% if site.name %}
  <meta property="og:site_name" content="{{ site.name }}">{% endif %}
  <meta property="og:type" content="object">{% if page.title %}
  <meta property="og:title" content="{{ page.title }}">{% endif %}
  <meta property="og:url" content="{{ page.url | absolute_url }}">{% if page.social_media_img %}
  <meta property="og:image" content="{{ page.social_media_img }}">{% endif %}{% if page.description %}
  <meta property="og:image:alt" content="{{ page.description }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta name="twitter:description" content="{{ page.description }}">{% endif %}
</head>
<body>
{% include breadcrumbs.html %}
<hr>
<!--<img src="https://martinpallmann.de/mockbridge/gfx/logo.svg" alt="MockBridge" style="height: 36px; width: 200px;">-->
<!--<hr>-->
{{ content }}
</body>
</html>
